.navbar-nav .nav-link.active {
    color: white;
    
} 

.nav-link {
    text-align: center;
    font-size: 18px;
} 

section {
    padding-top: 70px;
    height: 100vh;
    background-color: #ffffff;

}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000; /* Ensure header is above other content */
}



.nav-link:hover {
    font-weight: bold;
    transition: 2000ms;
    font-weight: bold;
}

#card-section h5 {
    margin: 16px 0;
}


#card-section h1 {
    margin: 16px 0;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
}

#carousel-exemplo img {
    max-height: 500px;
}


@media screen and (max-width: 1000px) {
    .navbar-nav .nav-link.active {
        color: white;
        margin-top: 30px;
    } 
  }

  footer h5 {
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 8px;
  }